.image-icone{
    height: 200px;
    width: auto;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.input{
    --background: #ddd;
    border-radius: 20px;
    width: 80%;
    margin-top: 40px;
    --placeholder-color: rgb(185, 178, 178);
    margin-left: 10%;
}


ion-item{
    color:rgb(185, 178, 178);
    font-size: 20px;
}